/**
 * Styles for route: /kids.show
 */

#single-kid-wrapper {
    .messages {
        .card {
            display: flex;
            justify-content: flex-end;

            #single-message {
                flex-grow: 2;
            }

            form {
                textarea {
                    resize: none!important;
                    max-width: 100%;
                }
            }
        }
    }

    .card {
        .remove-child {
            margin-top: .5rem;
        }
    }
}
