/**
 * General styles
 */

body {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $poppins;
    }

    p,
    a,
    small {
        font-family: $montserrat;
    }
    
    .py-4 {
        padding-top: 0!important;
    }
}
